#app {
  display: grid;
  font-family: Helvetica, Arial, sans-serif;
  height: 90vh;
  grid-auto-columns: minmax(500px, auto);
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  width: 95%;
}
#controllers {
  padding: 0 10%;
  text-align: center;
}
#controllers input[type="range"],
#controllers label {
  display: block;
  margin: 0 auto;
  width: 80%;
}
#controllers > div {
  font-size: 14px;
  padding: 10px;
  position: relative;
}
#controllers > div > span:first-of-type {
  position: absolute;
  left: 10px;
  top: 50%;
}
#controllers > div > span:last-of-type {
  position: absolute;
  right: 10px;
  top: 50%;
}
